{
      "arrowParens": "avoid",
      "bracketSameLine": true,
      "printWidth": 80,
      "proseWrap": "never",
      "semi": false,
      "singleAttributePerLine": true,
      "singleQuote": true,
      "tabWidth": 6,
      "trailingComma": "es5",
      "useTabs": false
}
